.book-card {
    border: 2px solid salmon;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#display-bookinfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.search-area {
    display: block;
    margin: 20px;
}

.box-button {
    display: flex;
    justify-content: center;
}

#search-box {
    padding: 10px;
    width: 50%;
}

#search-button {
    padding: 10px;
    background-color: tomato;
    font-weight: bold;
    color: #fff;
    border: 0px;
}
#display-bookinfo {
    width: 100%;
}
